<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/styles.css') }}">
</head>
<body>
    <h1>Sube una imagen para predecir</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <select name="model">
            {% for model in models %}
                <option value="{{ model }}" {% if model == selected_model %}selected{% endif %}>{{ model }}</option>
            {% endfor %}
        </select>
        <input id="submit-button" type="submit" value="Subir">
    </form>

    {% if models %}
        <h2>Imágenes Subidas</h2>
        <div class="thumbnail-container">
            {% for file in files %}
                <div class="thumbnail-wrapper">
                    <button class="delete-button" onclick="deleteImage('{{ file }}')">X</button>
                    <a href="{{ url_for('uploaded_file', filename=file) }}">
                        <img src="{{ url_for('static', filename='uploads/' ~ file) }}" class="thumbnail" alt="{{ file }}">
                    </a>
                    <p>{{ file }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay modelos cargados.</p>
    {% endif %}

    <!-- Spinner -->
    <div class="spinner" id="spinner"></div>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
            showSpinner();
            var formData = new FormData(this);
            fetch('/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                window.location.href = data.redirect_url;
            })
            .catch(error => {
                console.error('Error:', error);
                hideSpinner();
            });
        });

        function showSpinner() {
            document.getElementById('spinner').style.display = 'block';
            document.body.classList.add('loading');
        }

        function hideSpinner() {
            document.getElementById('spinner').style.display = 'none';
            document.body.classList.remove('loading');
        }

        function deleteImage(filename) {
            if (confirm('¿Estás seguro de que deseas eliminar esta imagen?')) {
                fetch('/delete_image', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ filename: filename }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.reload();
                    } else {
                        alert('Error al eliminar la imagen.');
                    }
                });
            }
        }
    </script>
</body>
</html>
