<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de la predicción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/styles.css') }}">
</head>
<body>
    <h1>Resultado de la predicción</h1>
    <div class="image-container">
        <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Imagen subida" width="300">
    </div>
    <h2>La planta está {{ predictions }}</h2>
    
    <h2>Modelo utilizado: {{ model_name }}</h2>
    <div class="button-container">
        <button><a href="{{ url_for('index') }}">Volver</a></button>
    </div>
</body>
</html>
